{% extends "base.html" %}
{% load i18n %}


{% block extra-header %}
<style>
#content-related { float:right; width:29em; position:relative; margin-top: 1em; margin-right: -30em;}
#wrapper {margin:20px;}
#output {
    border:1px solid #ddd;margin-top:20px;min-height:400px;padding:20px;
}
</style>
{{ block.super }}
{% endblock %}

{% block extrahead%}
<script language="Javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
{% endblock %}


{% block content-title %}
Codestore
{% endblock %}

{% block content %}
<div id='wrapper'>
<div class='row-fluid'>
    <div class='span9'>
        <h3>Result</h3>
        <div id="output" style=''>
        {{out|safe}}
        </div>
    </div>

    <div class='span3'>
        <h3>Tools</h3>
        <ul>
        {% for i in codes %}
        <li><a href='{%url codestore_toolsload i.name %}'>{{i.name}}</a>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock %}

